.hero {
  height: 80vh;
}
.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 60vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0.3;
  margin-top: 100px;
}

.background-video video {
  padding: 0;
  margin: 0;
}

.background-video {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-video .player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-video .react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.background-video .share-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.background-video:hover .share-button {
  display: block;
}

.home__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}

.home__hero h1 {
  color: #f77f00;
  font-size: 5rem;
}

.home__hero p {
  color: #e59500;
}

@media screen and (max-width: 768px) {
  .home__hero p {
    display: none;
  }
  .home__hero h1 {
    color: #f77f00;
    font-size: 2rem;
  }
  .home__hero {
    position: absolute;
    top: 200px;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
  }
}
