/* Hero.css */

.hero__header {
  margin-top: 100px;
}

.hero__poster img {
  height: 80vh;
  object-fit: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  aspect-ratio: 1;
}

.hero__poster {
  position: relative;
  opacity: 0.1;
}

.hero__head {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e59500;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}

.hero__head h1 {
  color: #f77f00;
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  .hero__poster img {
    height: 50vh;
    object-fit: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
  }
  .hero__head {
    top: 40%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e59500;
    z-index: 1;
    display: none;
  }
  .hero__head h1 {
    display: none;
  }
}
