.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-bottom: 80px;
  font-family: "Benne", serif;
  padding: 20px;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0px;
  background: var(--secondaryColor);
  z-index: 9999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar > a.link:first-child {
  font-size: 32px; 
}

a.link {
  text-decoration: none;
  color: var(--textColor);
  font-size: 24px;
  font-weight: 600;
}

.navbar > a.link:first-child {
  font-size: 42px;
  font-weight: bold;
  font-family: "Oldenburg", cursive;
  width: 30%;
  float: left;
}

a.link.active {
  position: relative;
  font-style: italic;
  color: #840032;
}

a.link.active::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: #840032;
}

.navbar__links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--textColor);
  margin-right: 20px;
}

.navbar > a.link:first-child {
  font-size: 24px; 
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: auto;
  }

  .icon {
    display: inline-block;
    margin-left: 5px;
    font-size: 24px;
  }

  .navbar__links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--secondaryColor);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }

  .navbar__links.show-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar__links .link {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: var(--textColor);
  }

  .menu-btn {
    display: block;
  }

  a.link.active::after {
    display: none;
  }

  .navbar > a.link:first-child {
    font-size: 24px;
  }
}
